version: '3'
services:
  go:
    image: golang:buster
    stdin_open: true
    tty: true
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - 8080:8080
    depends_on:
      - "db"
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db-data:/var/lib/mysql
      - ./db/my.cnf:/etc/mysql/conf.d/my.cnf
    ports:
      - 3306:3306

volumes:
  db-data:
    driver: local
